<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="titulo" class="title text-center">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-2">
      <button type="button" class="btn btn-secondary center-block" (click)="novoConjunto()">
        <span>Adicionar Conjunto + </span>
      </button>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let conjunto of conjuntos"
            [class.active]="conjunto.selecionado" (click)="clickConjunto(conjunto.nome)">{{ conjunto.nome }} <span class="badge badge-secondary badge-pill">{{ conjunto.getTamElementos() }}</span></li>
      </ul>
    </div>

    <div class="col-10">
      <div class="card ">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="conjunto-tab" data-toggle="tab" href="#cardConjunto" role="tab" aria-controls="home" aria-selected="true">Conjuntos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="operacoes-tab" data-toggle="tab" href="#cardOperacoes" role="tab" aria-controls="profile" aria-selected="false">Operações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="produtos-tab" data-toggle="tab" href="#cardProdutoCartesiano" role="tab" aria-controls="profile" aria-selected="false">Produto Cartesiano</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div id="cardConjunto" role="tabpanel" aria-labelledby="conjunto-tab" class="tab-pane fade show active" *ngIf="selecionado != null; else addConjunto">
              <h3>Conjunto {{ selecionado.nome }}</h3>
              <h5>Elementos:</h5>
              <h6>{{ selecionado.elementosConcat }}</h6>
              <div class="input-group mb-3">
                <input #elemento type="text" class="form-control" id="inputElemento"
                       (keyup.enter)="addElemento(elemento.value); elemento.value = null;" placeholder="Insira o elemento">
                <div class="input-group-append">
                  <button class="btn btn-secondary" (click)="addElemento(elemento.value)">+</button>
                </div>
              </div>
              <small id="addElementoHelper" class="form-text text-muted">Digite #Nome do conjunto para adicionar um conjunto existente! (Ex.: #B)</small>
              <ng-template #addConjunto>
                <h3>Adicione um conjunto.</h3>
              </ng-template>
            </div>

            <div id="cardOperacoes" role="tabpanel" aria-labelledby="operacoes-tab" class="tab-pane fade">
              <div class="text-center">
                <div class="btn-group text-center" role="group" aria-label="Operações">
                  <button type="button" class="btn btn-info" (click)="setOperacao('-U')">∩</button>
                  <button type="button" class="btn btn-info" (click)="setOperacao('U')">U</button>
                  <button type="button" class="btn btn-info" (click)="setOperacao('-')">-</button>
                  <button type="button" class="btn btn-info" (click)="setOperacao('P')">P(...)</button>
                  <button type="button" class="btn btn-info" (click)="setOperacao('’')">’</button>
                </div>

                <div class="row" *ngIf="operacao != null;">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="conjunto1">Primeiro Conjunto</label>
                      <select class="form-control" id="conjunto1" [(ngModel)]="conjunto1" >
                        <option *ngFor="let conjunto of conjuntos" [value]="conjunto.nome">{{ conjunto.nome }} - {{ conjunto.getTamElementos() }}</option>
                      </select>
                    </div>
                    <h5>{{ getConjunto(conjunto1).nome }} = {{ getConjunto(conjunto1).getElementos() }} - P({{ conjunto1 }}) = {{ getConjunto(conjunto1).getTamElementos() }}</h5>
                  </div>
                  <div class="col-2">
                    <h4>{{ operacao }}</h4>
                  </div>
                  <div class="col-5">
                    <div class="form-group">
                      <label for="conjunto2">Segundo Conjunto</label>
                      <select class="form-control" id="conjunto2" [(ngModel)]="conjunto2">
                        <option *ngFor="let conjunto of conjuntos" [value]="conjunto.nome">{{ conjunto.nome }} - {{ conjunto.getTamElementos() }}</option>
                      </select>
                    </div>
                    <h5>{{ getConjunto(conjunto2).nome }} = {{ getConjunto(conjunto2).getElementos() }} - P({{ conjunto2 }}) = {{ getConjunto(conjunto2).getTamElementos() }}</h5>
                  </div>
                </div>
                <div class="row" *ngIf="operacao != null;">
                  <div class="col-12">
                    <h4>{{ getResultadoOperacao() }}</h4>
                  </div>
                </div>
              </div>
            </div>

            <div id="cardProdutoCartesiano" role="tabpanel" aria-labelledby="produtos-tab" class="tab-pane fade">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="adicionarConjunto" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Adicionar Conjunto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Conjunto {{ getProximoNomeDoConjunto() }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

